<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/Index.css"></link>
    <title>Rev's Home</title>
</head>
<body>
    <div id="indexContent">
        <img src="https://i.ibb.co/1b4NdSg/revsLogo.png" alt="Rev's Logo" id="revImg">

        <h1 class="title">Welcome!</h1>
        <h2 class="title">Please select a GUI:</h2>
        <div class="allButtons">
            <div class="linkButton">
                <a href="/customergui"><button class="customer"> Customer GUI </button></a>
            </div>    
            <div class="linkButton">
                <a href="/servergui"><button class="server">Server GUI </button></a>
            </div>
            <div class="linkButton">
                <a href="/auth"><button class="manager"> Manager GUI </button></a>
            </div>
        </div>
    </div>
</body>
</html>