.sidenav {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5B0726;
  overflow-x: hidden;
  padding-top: 20px;
}

.menuButtons {
background-color: #5B0726;
border-color: black;
color: white;
width: 75%;
text-align: center;
text-decoration: none;
display: block;
font-size: 150%;
cursor: pointer;
margin: 0;
position: relative;
top: 10%;
left: 45%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
margin: 3%;
padding: 5%; 
margin-bottom: 15%;
box-shadow: 2px 2px 4px black;
}

.orderButton{
background-color: white;
border-color: #5B0726;
border-width: 5px;
font-weight: bold;
color: #5B0726;
width: 15%;
padding: 1.5%; 
height: 5%;
text-align: center;
font-size: 95%;
margin-top:2.5%;
margin-left: 35%;
cursor: pointer;
box-shadow: 2px 2px 4px black;
}

.menuButtons:hover{
  background-color: white;
  color:#5B0726;
}
.menuButtons:focus{
  background-color: white;
  color:#5B0726;
  font-weight:bold;
}
.orderButton:hover{
  background-color: #5B0726;
  color: white;
}

.menuButtons:focus{
  background-color: white;
  color:#5B0726;
}
.orderButton:focus{
  text-decoration: underline;
}

.addToOrder{
  color:white;
  background-color: #5B0726;
  border-color:#5B0726;
  height: 45px;
  width: 175px;
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
}
.addToOrder:hover{
  color:#5B0726;
  background-color: white;
}
.addToOrder:focus{
  text-decoration: underline;
 }

.deleteFromOrder{
  color:white;
  background-color: #5B0726;
  border-color:#5B0726;
  height: 45px;
  width: 150px;
  cursor: pointer;
}
.deleteFromOrder:hover{
 text-decoration: underline;
}
.deleteFromOrder:focus{
  text-decoration: underline;
 }

.logo{
margin: 0;
position: relative;
top: 10%;
left: 20%;
transform: translate(-50%, -50%);
margin: 2%;
padding: 3%;
width: 90%;
margin-bottom: -50%;
border: 1px goldenrod;
}

/* .logo:hover {
  background-color: white;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 10px;
} */

#CustomerView{
  margin-left: 35%; /* Same as the width of the sidenav */
}

#menuItems {
  text-align: center;
  font-family: Arial;
  color: #5B0726;
  margin-left: 35%;
}

table, td, th {  
  border: 2.5px solid #5B0726;
  text-align: center;
  font-family: Arial;
  color: #5B0726;
}

table {
  border: 2.5px solid #5B0726;
  margin-top:5%;
  border-collapse: collapse;
  align-self: center;
  float: center;
  width: 95%;
}

th, td {
  padding: 20px;
}

#order-summary {
  margin-left: 35%;
  margin-top: 5%;
  font-family: Arial;
  color: #5B0726;
  float: center;
  height: 100%;
  width: 60%;
  text-align:center;
  border-color: #5B0726;
  border-style:double;
  border-width: 5px;
}

.submit{
  background-color: white;
  color: #5B0726;
  border: 2.5px solid #5B0726;
  font-size: 20px;
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  text-decoration: none;
  position:fixed;
  bottom:10px;
  right:60px;
  height: 70px;
  width: 240px;
}

.submit:hover {
  background-color: #5B0726;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 10px;
}

.submit:focus {
  background-color: #5B0726;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 10px;
}

.cancel{
  background-color: white;
  color: #5B0726;
  border: 2.5px solid #5B0726;
  font-size: 20px;
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  text-decoration: none;
  position:fixed;
  bottom:10px;
  right:300px;
  height: 50px;
  width: 200px;
}

.cancel:hover {
  background-color: white;
  color: #5B0726;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 10px;
}

.cancel:focus {
  background-color: white;
  color: #5B0726;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 10px;
}

/* GOOGLE MAPS */
#map{
  height: 400px;
  /* The height is 400 pixels */
  width: 800px;
  /* The width is the width of the web page */
  border: goldenrod ridge 3px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  left: 575px;


}

