body{
    background-color: #5B0726;
}

#indexContent{
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

    border: ridge goldenrod 5px;
    background-color: lightgrey;

    max-width: 50%;
    max-height: 100%;

    padding: 2%;
    margin:auto;
    margin-top: 5%;
}

#indexContent img{
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

    width:30%;
    margin-left: 35%;

    border: medium ridge goldenrod;
    border-radius: 5px;
}

.allButtons{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.linkButton{
    width: 70%;
    border: ridge black 2px;
    border-radius: 5px;


    margin:auto;
    margin-top: 2%;

}

.linkButton button{
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    width:100%;
    padding-top: 5%;
    padding-bottom: 5%;

    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
}

.linkButton button:hover{
    background-color: #5B0726;
    color:white;
    font-weight: bolder;
    font-size: larger;
}

.linkButton button:focus{
    background-color: #5B0726;
    color:white;
    font-weight: bolder;
    font-size: larger;
}

.title{
    margin:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin-top: 2%;
    margin-bottom: 3%;

    text-align: center;
}

h1{
    text-transform: uppercase;
}

h2{
    color: #282828;
}