body{
    background-color: #5B0726;
}

#indexContent{
    border: ridge goldenrod 5px;
    background-color: lightgrey;

    max-width: 50%;
    max-height: 100%;

    padding: 2%;
    margin:auto;
    margin-top: 5%;
}

#indexContent img{
    width:30%;
    margin-left: 35%;
}

.allButtons{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.linkButton{
    width: 70%;
    border: ridge black 2px;
    border-radius: 5px;


    margin:auto;
    margin-top: 2%;

}

.linkButton button{
    width:100%;
    padding-top: 5%;
    padding-bottom: 5%;

    font-size: 125%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    margin:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin-top: 2%;
    margin-bottom: 3%;

    text-align: center;
}

h1{
    text-transform: uppercase;
}

h2{
    color: #282828;
}