body{
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  height: 800px;
  background-color: #5B0726;
}

.items{
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  width: 50%;
  height: 80%;
}

.entrees{
    width: 100%;
    height: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: ridge goldenrod 5px;
    background-color: lightgrey;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.entrees button{
    vertical-align: top;
    border: 2px solid black;
    height: 20%;
    width: 25%;
    background-color: #FF7276;
    margin: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    transition: 0.3s;
}

.entrees button:hover{
    background-color: rgb(188, 45, 45);
    color: white;
    height: 30%;
    width: 35%;
    font-size: 120%;
    font-weight: bold;
}

.entrees button:focus{
    background-color: rgb(188, 45, 45);
    color: white;
    height: 30%;
    width: 35%;
    font-size: 120%;
    font-weight: bold;
}

.entrees button:active{
    font-size: 90%;
}

.entrees h1{
    font-weight: bold;
    font-size: 140%;
    font-family: 'Oswald';
    color: maroon;
}

.sides-drinks{
    height: 20%;
    margin-top: 2%;
}

.sides{
    display: inline-block;
    width: 45%;
    border-radius: 50px;
    height: 100%;
}

.sides button{
    vertical-align: top;
    border: 5px inset yellow;
    height: 75%;
    width: 40%;
    background-color: white;
    margin: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 110%;
    border-radius: 20px;
    transition: 0.3s;
}

.sides button:hover{
    background-color: darkgoldenrod;
    color: white;
    height: 80%;
    width: 50%;
    font-size: 120%;
    font-weight: bold;
}

.sides button:focus{
    background-color: darkgoldenrod;
    color: white;
    height: 80%;
    width: 50%;
    font-size: 120%;
    font-weight: bold;
}

.sides button:active{
    font-size: 100%;
}

.drinks{
    display: inline-block;
    width: 45%;
    height: 100%;
    margin: auto;
}

.open-drinks{
    vertical-align: top;
    border: 5px inset lightblue;
    height: 80%;
    width: 50%;
    background-color: white;
    margin: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 140%;
    border-radius: 20px;
    color: maroon;
    transition: 0.3s;
}

.open-drinks:hover{
    background-color: rgb(143, 48, 48);
    color: white;
    height: 85%;
    width: 65%;
    font-weight: bold;
}

.open-drinks:focus{
    background-color: rgb(143, 48, 48);
    color: white;
    height: 85%;
    width: 65%;
    font-weight: bold;
}

.open-drinks:active{
    font-size: 120%;
}

#drink-menu{
    background-color: white;
    display: none;
    position: fixed;
    bottom: 10%;
    right: 15px;
    border: 3px solid black;
    border-radius: 15px;
    z-index: 9;
    width: 35%;
}

#drink-menu button{
    vertical-align: top;
    border: 5px groove goldenrod;
    width: 40%;
    background-color: maroon;
    margin: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 110%;
    height: 50px;
    color: white;
    transition: 0.3s;
}

#drink-menu button:hover{
    background-color: gray;
    font-weight: bold;
}

#drink-menu button:focus{
    background-color: gray;
    font-weight: bold;
}

#drink-menu button:active{
    font-size: 90%;
}

#close-drinks{
    vertical-align: top;
    border: 5px solid black;
    width: 40%;
    margin: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 90%;
    color: white;
    background-color: red;
}

.desserts{
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
    height: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: ridge whitesmoke 5px;
    background-color: goldenrod;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.desserts button{
    border: 2px solid black;
    height: 30%;
    width: 25%;
    background-color: maroon;
    margin: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    color: white;
    transition: 0.3s;
}

.desserts button:hover{
    background-color: white;
    color: maroon;
    height: 40%;
    width: 35%;
    font-size: 120%;
    font-weight: bold;
}

.desserts button:focus{
    background-color: white;
    color: maroon;
    height: 40%;
    width: 35%;
    font-size: 120%;
    font-weight: bold;
}

.desserts button:active{
    font-size: 90%;
}

.desserts h1{
    font-weight: bold;
    font-size: 140%;
    font-family: 'Oswald';
    color: black;
}

.summary{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 40%;
    height: 80%;
}

.logo{
    width: 60%;
    height: 35%;
    margin-top: -15%;
}

.order{
    border: 5px double black;
    padding: 5px;
    height: 50%;
    width: 100%;
    margin-top: -10%;
    overflow: auto;
    background-color: white;
}

.order table{
    text-align: center;
    width: 100%;
}

.total{
    padding: 5px;
    width: 100%;
    height: 20%;
    border: 4px solid black;
    margin-top: 5px;
    background-color: white;
}

.taxtitle{
    text-align: left;
    width: 49%;
    display: inline-block;
}

.taxnum{
    text-align: right;
    width: 49%;
    display: inline-block;
}

hr{
  border: none;
  border-top: 2px dotted black;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

.checkout{
    height: 20%;
    width: 100%;
    padding-top: 5px;
    margin-top: 5px;
}

.cancel{
    border: 2px solid black;
    border-radius: 30px;
    background-color: lightgray;
    width: 40%;
    transition: 0.3s;
}

.cancel:hover{
    background-color: gray;
    width: 50%;
    height: 40%;
    font-size: 120%;
    font-weight: bold;
}

.cancel:focus{
    background-color: gray;
    width: 50%;
    height: 40%;
    font-size: 120%;
    font-weight: bold;
}

.cancel:active{
    font-size: 100%;
}

.submit{
    border: 2px solid black;
    border-radius: 30px;
    background-color: lightgreen;
    width: 40%;
    height: 30%;
    transition: 0.3s;
}

.submit:hover{
    background-color: rgb(93, 195, 93);
    width: 50%;
    height: 40%;
    font-size: 120%;
    font-weight: bold;
}

.submit:focus{
    background-color: rgb(93, 195, 93);
    width: 50%;
    height: 40%;
    font-size: 120%;
    font-weight: bold;
}

.submit:active{
    font-size: 100%;
}

#increment{
    background-color: white;
    border-radius: 50px;
    color: maroon;
    transition: 0.3s;
}

#increment:hover{
    background: maroon;
    color: white;
}

#increment:focus{
    background: maroon;
    color: white;
}

#increment:active{
    font-size: 50%;
}

#decrement{
    background-color: white;
    border-radius: 50px;
    color: maroon;
    transition: 0.3s;
}

#decrement:hover{
    background: maroon;
    color: white;
}

#decrement:focus{
    background: maroon;
    color: white;
}

#decrement:active{
    font-size: 50%;
}