body{
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  height: 800px;
  background-color: maroon;
}

.items{
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  width: 50%;
  height: 80%;
}

.entrees{
    width: 100%;
    border: 5px solid gold;
    border-radius: 50px;
    height: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
}

.entrees button{
    vertical-align: top;
    border: 2px solid black;
    height: 20%;
    width: 25%;
    background-color: #FF7276;
    margin: 2px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 100%;
}

.entrees button:hover{
    background-color: rgb(188, 45, 45);
}

.entrees h1{
    font-weight: bold;
    font-size: 120%;
    font-family: 'Oswald';
    color: maroon;
}

.sides-drinks{
    height: 15%;
    margin-top: 2%;
}

.sides{
    display: inline-block;
    width: 45%;
    border-radius: 50px;
    height: 100%;
}

.sides button{
    vertical-align: top;
    border: 5px solid black;
    height: 100%;
    width: 40%;
    background-color: lightgray;
    margin: 2px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 110%;
    border-radius: 20px;
}

.sides button:hover{
    background-color: gray;
}

.drinks{
    display: inline-block;
    width: 45%;
    height: 100%;
    margin: auto;
}

.open-drinks{
    vertical-align: top;
    border: 5px solid black;
    height: 100%;
    width: 60%;
    background-color: white;
    margin: 2px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 160%;
    border-radius: 20px;
    color: maroon;
}

.open-drinks:hover{
    background-color: gray;
}

#drink-menu{
    background-color: white;
    display: none;
    position: fixed;
    bottom: 10%;
    right: 15px;
    border: 3px solid black;
    border-radius: 15px;
    z-index: 9;
    width: 35%;
}

#drink-menu button{
    vertical-align: top;
    border: 5px solid black;
    height: 100%;
    width: 40%;
    background-color: lightgray;
    margin: 2px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 110%;
    border-radius: 20px;
}

#drink-menu button:hover{
    background-color: gray;
}

.close-drinks{
    vertical-align: top;
    border: 5px solid black;
    height: 100%;
    width: 40%;
    background-color: rgb(216, 0, 0);
    margin: 2px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 90%;
    color: black
}

.desserts{
    margin-top: 10px;
    width: 100%;
    border-radius: 50px;
    height: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid black;
    border-radius: 20px;
    background-color: gold;
}

.desserts button{
    border: 2px solid black;
    height: 35%;
    width: 25%;
    background-color: maroon;
    margin: 2px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 100%;
    color: white;
}

.desserts button:hover{
    background-color: lightgray;
}

.desserts h1{
    font-weight: bold;
    font-size: 120%;
    font-family: 'Oswald';
    color: black;
}

.summary{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 40%;
    height: 80%;
}

.logo{
    width: 60%;
    height: 35%;
    margin-top: -15%;
}

.order{
    border: 6px solid black;
    height: 50%;
    width: 100%;
    margin-top: -10%;
    overflow: auto;
    background-color: white;
    border-radius: 10px;
}

.order table{
    text-align: center;
    width: 100%;
}

.total{
    width: 100%;
    height: 20%;
    border: 4px solid black;
    border-radius: 10px;
    margin-top: 5px;
    background-color: white;
}

.taxtitle{
    text-align: left;
    width: 49%;
    display: inline-block;
}

.taxnum{
    text-align: right;
    width: 49%;
    display: inline-block;
}

hr{
  border: none;
  border-top: 2px dotted black;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
}

.checkout{
    height: 7%;
    width: 100%;
    padding-top: 5px;
    margin-top: 5px;
}

.cancel{
    border: 2px solid black;
    border-radius: 30px;
    background-color: lightgray;
    width: 40%;
}

.cancel:hover{
    background-color: gray;
}

.submit{
    border: 2px solid black;
    border-radius: 30px;
    background-color: lightgreen;
    width: 40%;
}

.submit:hover{
    background-color: rgb(93, 195, 93);
}