<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/CustomerGUI.css"></link>
        <style>
        * {box-sizing: border-box}
        </style>
    </head>

    <body>
        <div id="google_translate_element" style="margin-left:32%;"></div>
        <div class="sidenav">
            <a href="/"><img class = "logo" src="https://media-cdn.grubhub.com/image/upload/d_search:browse-images:default.jpg/w_100,q_80,fl_lossy,dpr_2.0,c_fit,f_auto,h_100/fw6zczftwhbxmpx7g7u3" style="left:45%;"></a>
            <button id = "ViewOrder" class = "orderButton">View Order</button>
            <button id = "Entrees" class = "menuButtons">ENTREES</button>
            <button id = "Sides" class = "menuButtons">SIDES</button>
            <button id = "Drinks" class = "menuButtons">DRINKS</button>
            <button id = "Desserts" class = "menuButtons">DESSERTS</button>
            
        </div>
        <div id="CustomerView">
            <p style ="text-align:center; font-family:Arial; font-weight:bold; color:#5B0726; font-size:475%;">Welcome, Customer</p>
        </div> 
        <!--The div element for the map -->
        <div id="map"></div>
        <div hidden = "true" id = "order-summary">
            <h1>Order Summary</h1>
            
            <div id="CustomerOrder">
                <table id="CustomerOrderTable" style="margin-left:2.5%;">
                    <!-- <tr>
                        <th> ITEM </th>
                        <th> </th>
                        <th> QTY. </th>
                        <th> </th>
                        <th> PRICE </th>
                    </tr> -->
                </table>
            </div>

            <!-- </div> style="float:center; margin-left:5%;"> -->
    
            <div id = "order-tax">
              
            </div>
    
            <div id = "order-total">
              
            </div>
    
            <div id = "order-buttons">
              <button id = "SubmitButton" style="color:white; background-color:#5B0726; border-color:#5B0726;">SUBMIT ORDER</button>
              <button id = "CancelButton" style="color:white; background-color:#5B0726; border-color:#5B0726;">CANCEL ORDER</button>
            </div>
    
          </div>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClF9f4G213q3k_eWnxvTXiGAEvJhEI2gg&callback=initMap&v=weekly" defer></script>
          <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>    
          <script src="javascript/CustomerGUI.js"></script>
    </body>
</html>