<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/ServerGUI.css"></link>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <title>ServerGUI</title>
</head>
<body>
    <div id="google_translate_element"></div>
    <div class="summary">
        <a href="/">
            <img class="logo" src="https://i.ibb.co/1b4NdSg/revsLogo.png"/>
        </a>
        <div class="order">
            <table id="orderTable">
                <tr>
                    <th> ITEM </th>
                    <th> </th>
                    <th> QTY. </th>
                    <th> </th>
                    <th> PRICE </th>
                </tr>
            </table>
        </div>
        <div class="total">
            <div class="taxtitle">
                <h4> Tax </h4>
            </div>
            <div class="taxnum">
                <h4 id="tax"> + </h4>
            </div>
            <hr>
            <div class="taxtitle">
                <h4> Total </h4>
            </div>
            <div class="taxnum">
                <h4 id="total"> $ </h4>
            </div>
        </div>
        <div class="checkout">
            <button class="cancel" onclick="clearOrder()"> CANCEL <br> ORDER </button>

            <button class="submit" id="serverSubmit"> SUBMIT <br> ORDER </button>
        </div>
    </div>
    <div class="items">
        <div class="entrees" id="entrees">
            <h1> ENTREES </h1>
        </div>
        <div class="sides-drinks">
            <div class="sides" id="sides">
            </div>
            <div class="drinks" id="drinks">
                <button class="open-drinks" onclick="openDrinks()"> Drinks </button>
                <div id="drink-menu">
                    <button id="close-drinks" onclick="closeDrinks()"> EXIT </button>
                    <br>
                </div>
            </div>
        </div>
        <div class="desserts" id="desserts">
            <h1> DESSERTS </h1>
        </div>
    </div>
    <script src="javascript/ServerGUI.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>