<!DOCTYPE html>

<html lang="en">
        <head>
            <!-- <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
            <link rel="stylesheet" type="text/css" href="css/ManagerGUI.css"></link>
            <title>Document</title>
        </head>

        <body>
            <!-- the following will display the available submenus to the manager -->
            <div class="headers">
                <img src="https://i.ibb.co/1b4NdSg/revsLogo.png" alt="Rev's Logo">
                <p>Welcome, Manager</p>
            </div>
            
            <div class="mainContent">
                <div class="subMenus">
                    <div class="menuSection">
                        <h1>
                            Menu
                        </h1>
                        <!--
                        <button onclick="viewMenu()">View Menu</button>
                        -->
                        <button id="viewMenuButton">View Menu</button>
                        <button id="addMenuItemButton">Add Menu Item</button>
                        <button id="updateMenuItemButton">Update Menu</button>
                        <button id="deleteMenuItemButton">Delete Menu Item</button>
                    </div>

                    <div class="menuSection">
                        <h1>
                            Inventory
                        </h1>
                        <button id="viewInventoryButton">View Inventory</button>
                        <button id="orderInventoryButton">Order Inventory</button>
                        <button id="addInventoryItemButton">Add Inventory Item</button>
                    </div>

                    <div class="menuSection">
                        <h1>
                            Reports
                        </h1>
                        <button onclick="salesReport()">Sales Report</button>
                        <button onclick="popularMenuReport()">Popular Menu Item Report</button>
                        <button id="excessReportbutton">Excess Report</button>
                        <button id="restockReportButton">Restock Report</button>
                    </div>
                </div>

                <div class="contentContainer">
                    <div class="content" id="managerView">
                        <p>Welcome Manager</p>
                    </div>
                </div>
            </div>

            <script src="javascript/ManagerGUI.js"></script>
        </body>
    </html>